<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.todo.persistance.TodoDao">

	<select id="selectAll" resultType="TodoVO">
		SELECT * FROM tbl_todolist
		ORDER BY t_date DESC, t_time DESC
	</select>
	
	<select id="findById" resultType="TodoVO">
		SELECT * FROM tbl_todoList
		WHERE t_id = #{t_id}
	</select>
	
	<select id="selectAllByUser" resultType="TodoVO">
		SELECT * FROM tbl_todolist
		WHERE username = #{username}
		ORDER BY t_date DESC, t_time DESC
	</select>
	
	<insert id="insert" parameterType="TodoVO">
		INSERT INTO tbl_todoList(
		todo,
		t_date,
		t_time,
		t_compdate,
		t_comptime,
		username
		) VALUES (
		#{todo},
		#{t_date},
		#{t_time},
		#{t_compdate},
		#{t_comptime},
		#{username}
		)
	</insert>

	<update id="update" parameterType="TodoVO">
		UPDATE tbl_todolist
		SET
		todo = #{todo},
		t_date = #{t_date},
		t_time = #{t_time},
		t_compdate = #{t_compdate},
		t_comptime = #{t_comptime},
		t_comp = #{t_comp}
		WHERE t_id = #{t_id}
	</update>
	
	<delete id="delete"></delete>
	
	<select id="create_todo_table">
		create table if not exists tbl_todolist (
			t_id bigint AUTO_INCREMENT primary key ,
			todo varchar(2000),	
	
			t_date varchar(10),
			t_time varchar(10),
			t_compdate varchar(10),
			t_comptime varchar(10),
			t_comp boolean,
			username varchar(50)
		)
	</select>

</mapper> 